@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-bar {
  background: linear-gradient(to right, #28c76f, #fbdf2a, #fc2f2f, #7323c3);
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
